body{
    background-color: aquamarine;
    font-family: 'Montserrat', sans-serif;
}
/*-------------->   HEADER   */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: pink;
    margin: 10px 0px 10px 0px;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px 0px 10px;
    justify-content: space-between;
}
.logo{
    font-family: 'Spicy Rice', regular;
    font-size: 45px;
    color: yellowgreen;
}
.avatar{
    border-radius: 400px;
}
.button_box{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
a{
    color: inherit;
    text-decoration: none;
}
header a{
    border: red solid;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.2);
}
header a:hover{
    border: greenyellow dashed 3px;
    padding: 20px;
    background-color: black;
    opacity: 0.5;
    color: red;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
}
ul{
    list-style:none;
    padding: 5px;
    margin: 8px;
}
/*------------>    FOOTER   */
.social_box{
    display: flex;
    justify-content: center;
    background-color: yellow;
}
.social{
    margin: 20px;
}
footer a{
    
}
.btn-blue{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:blue;
    border: solid black 0.5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}
.btn-blue:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0,0.9);
    border: solid rgb(241, 239, 237) 0.3px;
    border-radius: 200px;
}
/*----------->     FOOTER   */
/*#####################################CARD######################################*/
*{
    box-sizing: border-box;
}
.content__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
    padding: 5px;
    max-width: 70%;
}
.card{
    position: relative;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color:whitesmoke;
    padding: 15px;
    margin: 5px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s;
    max-width: 335px;
}
.card:hover{
    box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
}
.card__date{
    position: absolute;
    top: 20px;
    right: 20px;
    color: whitesmoke;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    padding: 8px;
    width: 45px;
    height: 45px;
    background-color: brown;
    border-radius: 50%;
}
.card__thumbs{
    background-color: #000;
    img{
        display: block;
        opacity: 1;
    }
}
.card:hover img{
    opacity: 0.6;
}

.card__body{
    position: relative;
}
.card__category{
    position: absolute;
    padding: 0 15px;
    height: 25px;
    background-color: brown;
    color: whitesmoke;
    font-size: 10px;
    line-height: 25px;
    left: 0;
    top: -25px;
}

.card__title{
    margin: 0;
    padding: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.card__subtitle{
    color: brown;
    font-size: 18px;
    padding: 10px;
}
.card__description{
    padding: 15px;
    font-size: 16px;
    color: #666746;
}
/*-------------------------------------->      TAB   */
section {
    display: none;
    padding: 5px;
    border-top: 1px solid #ff97ac;
    color: rgb(12, 11, 11);
    background-color: aquamarine;
    width: 80%;
    text-align: center;
}
input {
    display: none;
    text-decoration-style: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #B5BAD0;
    background-color: #163772;
    border: 1px solid transparent;
}
label:before {
    font-family: 'Secular One', sans-serif;
    font-weight: normal;
    margin-right: 10px;
}
label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16c'; }
label[for*='4']:before { content: '\f171'; }
label:hover {
    color: #FFF;
}
input:checked + label {
    color: #163772;
    border: 1px solid #abc;
    border-top: 2px solid #ff97ac;
    border-bottom: 1px solid #ff97ac;
    box-shadow: inset 0 0 7em white;
}
/* Show content */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}